
#header h2{
    font-weight: bolder;
}



#header, #footer{
    background-color: #F6D55C;
    color:  #292929;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}
.about{
    background-color:#585858;
    color: #F6D55C;
    padding: 20px;
    text-align: center;


}


.about h5{
    font-weight: bolder;

}
.about h5, p{
    text-align: center;
}
.about p{
    color: white;
}
#content{
    background-color: #292929;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    flex-wrap: wrap-reverse;
    text-align: center;

}
.quotelist{
    float: right;
    width: 60%;
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;

}

.quotelist h5{
    font-weight: bold;
    background-color: #F6D55C;
    color: #292929;
    padding: 20px;
    border-radius: 25px;
    display: flex;

}

i{
    color: #F6D55C; 
    font-size: small;
    font-weight: bold;
 }
 span{
    font-weight: bolder;
    color:#F6D55C ;

 }

 #table{
    padding: 40px;
 }