 <div id="header">
    <h2>InspireDock APP ®</h2>
    
</div>
<div class=" about ">
    <h4>ABOUT</h4>
    <p>This is an Angular application developed by Musyoki Mutua in testing first week of learning angular concept,the application allows the user to;create a new inspiration quotes,upvote or downvote the quote, view vote count on each quote,delete a quote & shows date when quote was generated.</p>

    <a href="#form" ><button type="button" class="btn btn-info">Get Started</button></a><br><br>
</div>
<!-------------->

<div id="content" class="d-flex justify-content-center">
    
    <div *ngFor='let quote of quotes' id="quote">
        <h5><span>"{{quote.description}}"</span></h5>
        <hr>
        <h6><span>Author: "{{quote.authorName}}"</span></h6>
        <h4><i>Editor: "{{quote.editorName}}"</i></h4>
        <h6><i>Posted on {{quote.postDate|date|uppercase}}</i></h6>
        <h6><i>{{quote.postDate|dateCount}} Days old</i></h6>
        <app-likes></app-likes><br><br>
        <app-quote-details (isComplete) = 'completeQuote($event,i)'></app-quote-details>
    </div>

    <div id="form">
        <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>

    </div>
</div>

<div id="footer">
    <h6>CONTACTS</h6>
    <h6>Email:msyokimutua@gmail.com</h6>
    <h6>Facebook</h6>
    <h6>Twitter</h6><br>
    <h6>InspireDock APP ®</h6>
    <h6>Copyright © 2020 Angular Test-Musyoki Mutua  </h6>
</div>