
#header h2{
    font-weight: bolder;
}



#header{
    background-color:#F6D55C;
    color: #292929;
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

#footer{
    background-color:#292929;
    color:  white;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
.about{
    background-color:#292929;
    color: white;
    padding: 20px;
    text-align: center;
    font-weight: bolder;
    opacity: 0.9;


}

.about h4{
    font-weight: bolder;
    padding: 20px;
    width: auto;
    color: #F6D55C;



}
.about h3, p{
    text-align: center;
    
}



#content{
    background-color:white;
    color: #292929 ;
    font-family: Arial, Helvetica, sans-serif;
    flex-wrap: wrap;
    padding: 10px;
    font-weight: bolder;
}

#quote{
    border: 5px solid white;
    padding: 40px;
    margin: 0em;
    width: 70%;
    float: right;
    text-align: center;
    background-image: url(../../assets/images/quotes-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;  
    border-radius: 25px white;
  
}

#form{
    float: left;
    width: 60%;
    opacity: 0.8;
    margin: 50px;  
}

i{
    color: #292929; 
    font-size: small;
    font-weight: bold;
 }
 span{
    font-weight: bolder;
    color:#292929 ;

 }

