 <div id="header">
    <h2 >Quote Engine APP ®</h2>  
</div>
<nav class=" about ">
    <h5>ABOUT</h5>
    <p>Quote Engine App is an application developed by Musyoki Mutua in testing first week of learning angular concept,the application allows the user to;create a new quote,upvote or downvote the quote, view vote count on each quote,delete a quote & shows date when quote was generated.</p>
    <!-- Navbar content -->
</nav>
<!-------------->
<div id="content" class="d-flex justify-content-center">
    <div id= "form" class="d-flex justify-content-center">
        <app-quote-form></app-quote-form>
        
    </div>
    <div class="quotelist">
        <h5>Welcome !!!</h5>
        <h5>Quotes of the day</h5>
        <hr>
        <div >
            <table *ngFor='let quote of quotes'>

                <tr>
                    <th><span>Author: "{{quote.authorName}}"</span></th>
                </tr>
                <tr>
                    <td>"{{quote.description}}"</td>
                </tr>
                <tr>
                    <td><i>Editor : {{quote.editorName}}</i></td>
                </tr>
                <tr>
                    <td><i>Posted on {{quote.postDate|date|uppercase}}</i></td>
                </tr>
                <tr>
                    <td><app-likes></app-likes></td>
                </tr><br><br>
            </table>
        </div>
    </div>
</div>  

<div id="footer">
    <h6>CONTACTS</h6>
    <h6>Email:msyokimutua@gmail.com</h6>
    <h6>Facebook</h6>
    <h6>Twitter</h6><br>
    <h6>Quote Engine APP ®</h6>
    <h6>Copyright © 2020 Angular Test-Musyoki Mutua  </h6>
</div>